{% extends 'base.html' %}

{% block content %}
<h2> Profile </h2>

<div class="ProfileSummary">
    <h3> Username: </h3>
    <p>{{ user.username }} </p>
    <h3> Email: </h3>
    <p> {{ user.email }} </p>
</div>

<h2>Your Stories:</h2>
<div id="my-stories">
    {% if remaining_stories %}
        {% for story in remaining_stories %}
            {% include "./storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
        <p>Sorry this section is not working at the moment.</p>
    {% endif %}
</div>

{% endblock content %}